<form id="filter-form" action="/" method="GET">
    <div class="filter-bar">
        <div class="filter-by" id="filter-by-interest" data-target="interest-options">
            <h4 class="filter-header">Interest</h4>
            <h6 class="filter-text"><%= interest ? interest : 'Select interest'%></h6>
        </div>
        <div class="filter-by" id="filter-by-skill-level" data-target="skill-options">
            <h4 class="filter-header">Skill Level</h4>
            <h6 class="filter-text"><%= skillLevel ? skillLevel : 'Select skill level'%></h6>
        </div>
        <div class="filter-by" id="filter-by-tech-stack" data-target="tech-options">
            <h4 class="filter-header">Tech Stack</h4>
            <h6 class="filter-text"><%= techStack ? techStack : 'Add technologies'%></h6>
        </div>
        <button type="submit">Apply Filters</button>
    </div>

    <!-- Interest Filter Options -->
    <div class="filter-options" id="interest-options">
        <select name="interest" id="interest-select">
            <option value="">Select an interest</option>
            <option value="Web Development" <%= (interest === 'Web Development') ? 'selected' : '' %>>Web Development</option>
            <option value="Mobile Development" <%= (interest === 'Mobile Development') ? 'selected' : '' %>>Mobile Development</option>
            <option value="Cybersecurity" <%= (interest === 'Cybersecurity') ? 'selected' : '' %>>Cybersecurity</option>
            <option value="Backend" <%= (interest === 'Backend') ? 'selected' : '' %>>Backend</option>
            <option value="AI & Machine Learning" <%= (interest === 'AI & Machine Learning') ? 'selected' : '' %>>AI & Machine Learning</option>
            <option value="Data Science" <%= (interest === 'Data Science') ? 'selected' : '' %>>Data Science</option>
            <option value="Game Development" <%= (interest === 'Game Development') ? 'selected' : '' %>>Game Development</option>
            <option value="DevOps" <%= (interest === 'DevOps') ? 'selected' : '' %>>DevOps</option>
        </select>
    </div>

    <!-- Skill Level Filter Options -->
    <div class="filter-options" id="skill-options">
        <select name="skillLevel">
            <option value="">Select skill level</option>
            <option value="Beginner" <%= (skillLevel === 'Beginner') ? 'selected' : '' %>>Beginner</option>
            <option value="Intermediate" <%= (skillLevel === 'Intermediate') ? 'selected' : '' %>>Intermediate</option>
            <option value="Advanced" <%= (skillLevel === 'Advanced') ? 'selected' : '' %>>Advanced</option>
        </select>
    </div>

    <!-- Tech Stack Filter Options -->
    <div class="filter-options" id="tech-options">
        <input type="text" id="technologies-input" name="techStack" placeholder="Add technologies (e.g., Python, Angular, Rust, Express...)" value="<%= techStack || '' %>">
    </div>
</form>

<script src="/js/form.js"></script>
