<div class="projects-list">
    <h3>Projects</h3>
    <% if (projects.length > 0) { %>
        <ul class="project-items">
            <% projects.forEach(project => { %>
                <li class="project-item" data-id="<%= project.id %>">
                    <div class="project-info">
                        <h4 class="project-title"><%= project.title %></h4>
                        <p class="project-description"><%= project.description %></p>
                        <div class="project-tags">
                            <p class="project-interest"><%= project.interest %></p>
                            <p class="project-skill-level"><%= project.skill_level %></p>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p class="no-projects">No project found.</p>
    <% } %>
</div>

<script src="/js/projects.js" defer></script>

